/* FormDemo.css */

:root {
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --facebook: #168ef4;
    --twitter: hsl(203, 89%, 53%);
    --instagram-1: hsl(37, 97%, 70%);
    --instagram-2: hsl(329, 70%, 58%);
    --youTube: hsl(348, 97%, 39%);
    --pinterest: red;
    --telegram: #229ed9;
    --gray: #5f616d;
    --cardGray: #f0f3fa;
    --lightGray: #f8f9fe;
    --cardTitle: #6f717e;
    --baseBackground: white;
    --baseColor: #1d2029;
    --switchSpinner: white;
    --switch: #5f616d;
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --third-bg-color: #1139428e;
    --text-color: #ededed;
    --main-color: #00abf0;
}

.form-demo .card {
    min-width: 450px;
}

.form-demo .card form {
    margin-top: 2rem;
}

.form-demo .card .field {
    margin-bottom: 1.5rem;
}

.lang-icon-m,
.lang-icon-w,
.lang-icon-e,
.lang-icon-t,
.lang-icon-ph,
.lang-icon-f,
.lang-icon-y,
.lang-icon-g,
.lang-icon-p,
.lang-icon-i {
    padding: 7px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.255);
    border: 2px solid;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.lang-icon-i {
    color: var(--instagram-2);
}

.lang-icon-p {
    color: var(--pinterest);
}

.lang-icon-y {
    color: var(--youTube);
}

.lang-icon-g {
    color: #1d2029;
}

.lang-icon-f {
    color: var(--facebook);
}

.lang-icon-ph {
    color: #3d52ee;
}

.lang-icon-t {
    color: var(--telegram);
}

.lang-icon-m {
    color: var(--twitter);
}

.lang-icon-w {
    color: rgb(25, 175, 43);
}

.lang-icon-e {
    color: #168ef4;
}

.lang-icon-m:hover,
.lang-icon-w:hover,
.lang-icon-e:hover,
.lang-icon-t:hover,
.lang-icon-ph:hover,
.lang-icon-f:hover,
.lang-icon-y:hover,
.lang-icon-g:hover,
.lang-icon-p:hover,
.lang-icon-i:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.255);
    background: rgba(166, 211, 250, 0.585);
}

@media screen and (max-width: 960px) {
    .form-demo .card {
        width: 80%;
    }
}

@media screen and (max-width: 640px) {
    .form-demo .card {
        width: 100%;
        min-width: 0;
    }
}
